body {
    text-align: center;
    background-color: #FAF7F0;
    font-family: Tahoma;
    font-size: 25px;
}
#main {
    border: 1px solid black;
    width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #0000e6;
}

button , input {
    margin: 5px;
    background-color: #CDFCF6;
    border-radius: 2px;
}

label {
    display: flex;
    align-items: center;
}

.input-box {
    flex: auto;
}

input[type=text] {
    width: 40%;
    height: 20px;
}
